* {
  box-sizing: border-box;
}

a {
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 18px;
}

input,
button {
  border-radius: 3px;
  outline: none;
  padding: 3px 5px;
  cursor: pointer;
  text-transform: capitalize;
}

body {
  font-family: sans-serif;
}
